.container{
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 1px solid grey;
    height: 100%;
}
.title{
    background-color: aqua;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    color: darkgrey;
}
.date{
    text-align: center;
}
.input{
    width: 99%;
    height: 50px;
    border-radius: 30px;
    background-color: aqua;
    border: none;
    text-indent: 20px;
    font-size: large;
}
.btn{
    position: absolute;
    right: 64px;
    margin-top: 1px;
    border: none;
    font-size: x-large;
    color: darkgrey;
    width: 50px;
    text-align: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    background-color:bisque ;
    cursor: pointer;
}
.list{
    list-style-type: none;
    /* background-color: bisque; */
    border-radius: 10px;
    /* width:auto; */
    display: block;
    align-items: right;
  justify-content: right;
  text-align: right;
    /* align-content: flex-start; */

}
.profIcon{
    background-color:fuchsia;
    margin: 0 5px;
    color: white;
    border-radius: 5px;
}